body{
    background-color: #D5D0AF;
    color: #5B5950;
}

h1, h2{
    text-align: center;
    color: #D04342;
}

h1{
    text-transform: uppercase;
    text-decoration: underline;
}

h2{
    text-transform: capitalize;
}

h3{
    color: #D04342;
}

ul{
    color: #D04342;
}

a{
    color: #5B5950;
    text-decoration: none;
}

img{
    width: 50%;
    border-radius: 50px;
    display: block;
    margin: auto; 
}